<!DOCTYPE html>
<html>
<head><meta charset="utf-8"> 
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>{{.app.title}}</title>
<script src="https://cdn.bootcss.com/jquery/1.12.2/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery.form/3.24/jquery.form.min.js"></script>
 
 
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdn.bootcss.com/vue-router/3.0.6/vue-router.min.js"></script>
<script src="/js/axios.min.js"></script>
<script src="/js/art-template.js"></script>

<link rel="stylesheet" href="/css/app.css?t=110225111" type="text/css" /> 
<!--<link rel="stylesheet" href="/assets/adminlte/css/font-awesome.min.css">
<script src="https://cdn.bootcss.com/font-awesome/5.8.2/js/fontawesome.min.js"></script>
    -->
<!----><link rel="stylesheet" href="/assets/adminlte/css/ionicons.min.css">  
<link href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
<script src="/app/vue?app={{.appcode}}&_openid={{._openid}}" type="text/javascript"></script>
<link rel="stylesheet" href="/app/css?app={{.appcode}}" type="text/css" />
<style type="text/css">
#app{max-width:480px;}
.fixnav{ 
  position: fixed; 
  bottom: 0; 
  left: 0;  
  right: 0;
  background: #fff;  
  border-top: #e8e9eb solid 1px; 
  text-align: center;
  padding:0 0 5px;
  p{
    line-height:12px;
  }
}
.fixnav a{margin-top:5px;}
.fixnav a img{margin:auto;}
.iconfont,.fixnav p{ color: #999;/*#c6c6c6;*/ }
.iconfont{ font-size:20px;}
.router-link-exact-active p,.router-link-exact-active .iconfont{ color: #fe4543; }

.vue-pull-to-wrapper[data-v-12abd9fb] {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	flex-direction: column;
	height: 100%
}

.scroll-container[data-v-12abd9fb] {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch
}

.vue-pull-to-wrapper .action-block[data-v-12abd9fb] {
	position: relative;
	width: 100%
}

.default-text[data-v-12abd9fb] {
	height: 100%;
	line-height: 50px;
	text-align: center
}


.fa {
    font-size: 20px;
}
.fa, .fixnav p {
    color: #c6c6c6;
}
.router-link-exact-active p, .router-link-exact-active .fa {
    color: #fe4543;
}
.router-link-exact-active p, .router-link-exact-active .fa {
    color: #fe4543;
}

.tit_cls {
    color: #333;
    font-size: 16px;
    background: #fff;
    padding: 10px 8px;
}

.tit_cls i {
    font-size: 18px;
    /*padding-right: 1px;*//*.4rem;*/
}

.icon-add {
    padding-right: 0;
    font-size: 18px;
}

.weui-cell__hd img {
    display: block;
    margin-right: 5px;
}

.pic_list {
    width: 40px;
    height: 40px;
}
weui.min.css:5
a img {
    border: 0;
}


.graypic { 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    
    filter: grayscale(100%);
	
    filter: gray;
}

.weui_title_p{
	overflow:hidden;
	text-overflow:ellipsis;
	width:260px;
}

.weui-media-box__desc_p{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	max-width:256px;
}

.child-view {  
  position: absolute;  
  left: 0;  
  top: 0;  
  width: 100%;  
  height: 100%;
  transition: all .5s cubic-bezier(.55,0,.1,1);  
}  
.slide-left-enter, .slide-right-leave-active {  
  opacity: 0;  
  -webkit-transform: translate(30px, 0);  
  transform: translate(30px, 0);  
}  
.slide-left-leave-active, .slide-right-enter {  
  opacity: 0;  
  -webkit-transform: translate(-30px, 0);  
  transform: translate(-30px, 0);  
}  

.datashows[data-v-dec7aa6c] {
    width: 100%;
}



.search{ background:#fff;}
 .search p{padding:5px 5px; text-align:center;}
.search p input{border:1px solid #ccc;border-radius:100px;padding:7px 12px;width:65%;font-size:14px;}
.search p span{font-size:15px;color:#444;margin-left:8px;background-color: #1AAD19;color: #fff;padding: 7px 12px;}

</style>

</head>


<body>
<script type="text/javascript">
var _test=Vue.component('test', {
        template: '<div  class="weui-cell">hello test</div>',
        data(){
            return {
            }
        },
		created() {
			console.log('test is created...');
		}
})
var _info=Vue.component('field-info', {
		props: [],
        template: '\
		<div>\
			<div class="pro" style="position: fixed; top: 0; margin-bottom: 80px;z-index: 800000; width: 100%;">\
				<div class="fixDivtit">\
					<div class="tit_cls flexbtn">\
						<span><i  class="iconfont icon-left" style="display:none0;" @click="prev"></i><span v-text="title"></span></span>\
						<i class="iconfont icon-guanbi" v-if="is_del==1 && id>0" @click="del" style="font-size:14px;"><span style="font-size:14px;">删除</span></i>\
					</div>\
				</div>\
			</div>\
			<form id="form1"  method="post" action="/xapi/editpost" style="margin-top:55px;">\
			<div v-for="row in fields"  :key="row.id">\
			<div class="weui-cells__title" v-if="row.form_weui_title!=\'\'" v-text="row.form_weui_title"></div>\
			<div class="weui-cells "  v-show="row.is_hide==0" v-bind:style="\'margin-top:\'+row.form_margin_top">\
				<field-label v-bind:name="row.field_code" v-bind:id="row.field_code" v-bind:title="row.field_name"  v-show="row.is_hide==0" v-bind:value="row._value" v-if="row.form_type==\'标签框\' "></field-label>\
				<field-input v-bind:name="row.field_code" v-bind:id="row.field_code" v-bind:code="code" v-show="row.is_hide==0" v-bind:title="row.field_name" v-bind:value="row._value" v-if="row.form_type==\'文本框\' " v-bind:required="row.form_required"></field-input>\
				<field-select v-bind:fieldid="row.id" v-bind:module="row.view_list_module" v-bind:code="code"  v-show="row.is_hide==0" v-bind:name="row.field_code" v-bind:islink="row.view_list_islink" v-bind:title="row.field_name" v-bind:id="row.field_code" v-bind:value="row._value" v-if="row.form_type==\'下拉框\' " v-bind:is_editable="row.is_editable"  v-bind:required="row.form_required"></field-select>\
				<field-switch v-bind:name="row.field_code" v-bind:id="row.field_code" v-bind:title="row.field_name"  v-show="row.is_hide==0" v-bind:value="row._value" v-if="row.form_type==\'开关按钮\'"></field-switch>\
				<field-editor v-bind:name="row.field_code" v-bind:id="row.field_code" v-bind:title="row.field_name"  v-show="row.is_hide==0" v-bind:value="row._value" v-if="row.form_type==\'编辑框\'"></field-editor>\
				<field-date v-bind:id="row.field_code" v-bind:name="row.field_code" v-bind:title="row.field_name" v-bind:value="row._value" v-if="row.form_type==\'日期选择\' "></field-date>\
				<field-input v-bind:name="row.field_code" v-bind:id="row.field_code" v-bind:code="code" v-show="row.is_hide==0" v-bind:title="row.field_name" v-bind:value="row._value" v-if="row.form_type==\'日期时间\' " v-bind:required="row.form_required"></field-input>\
				<field-pic v-bind:id="row.field_code" v-bind:name="row.field_code"  v-bind:code="code" v-bind:title="row.field_name"  v-show="row.is_hide==0" v-bind:value="row._value" v-if="row.form_type==\'图片上传\'"></field-pic>\
				<field-radio  v-bind:fieldid="row.id" v-bind:name="row.field_code" v-bind:id="row.field_code"  v-show="row.is_hide==0" v-bind:title="row.field_name" v-bind:value="row._value" v-if="row.form_type==\'单选框\'"></field-radio>\
				<field-checkbox v-bind:fieldid="row.id" v-bind:name="row.field_code" v-bind:id="row.field_code"  v-show="row.is_hide==0" v-bind:title="row.field_name" v-bind:value="row._value" v-if="row.form_type==\'复选框\' "></field-checkbox>\
			</div>\
			</div>\
				<input type="hidden" id="_id" name="_id" v-bind:value="id" />\
				<input type="hidden" id="_code" name="_code" v-bind:value="code" />\
			</form>\
			<div class="weui-cells__title" style="margin-bottom:30px;">\
				<a href="javascript:;" @click="submit" class="weui-btn weui-btn_primary">保存</a>\
			</div>\
		</div>\
		',
        data() {
        return {
            list: [],
            code: "",
            id: 0,
            fields: {},
            m: {},
			is_create:0,
			is_del:0,
			is_edit:0,
			is_search:1,
			title:"编辑",
			tbid:0,
        }
    },
    methods: {
        prev() {
            this.$router.go(-1);
        },
		del(){
			$this=this;
			jQuery.confirm('确定要删除此纪录吗?','确认删除',function(){
				axios.get('/adm/d/del?code='+$this.code+'&id=' + $this.$route.query.id)
				.then(function (response) {
					if (response.data =='1'){
						//jQuery.toast('操作成功!',1500);
						//$this.$router.go(-1);
						jQuery.confirm("操作成功!是否继续添加?", "继续添加", function() {
						  
						}, function() {
						  $this.$router.go(-1);
						});
					}else{
						jQuery.toast('操作失败!','cancel');
					}
				})
				.catch(function (error) {
					
				});
			},function(){
				$this.$router.go(-1);
			});
		},
		submit:function(){  
			$this=this;
			//先进行验证
			var rst=$.ajax({
				url : '/xapi/extable',
				type : 'get',
				async: false,//使用同步的方式,true为异步方式
				data : {'tbid':$this.tbid,'extype':'javascript','expage':'info','explace':'BEFORE'}
			}).responseText;

			if(rst!=''){
				var js='function _js(){'+rst+'};';
				eval(js);
				var jsrst=eval('_js();');
				if(!jsrst){
					return;
				}
			}

			$('#form1').ajaxSubmit(function (data) {
				if(data=="0" || data=="-1"){
					jQuery.alert('操作失败,请稍后重试！');
				}else if(parseFloat(data).toString() != "NaN") {
					var rst=$.ajax({
						url : '/xapi/extable',
						type : 'get',
						async: false,//使用同步的方式,true为异步方式
						data : {'tbid':$this.tbid,'extype':'javascript','expage':'info','explace':'AFTER','id':data}
					}).responseText;
					if(rst!=''){
						var js='function _js(){'+rst+'};';
						eval(js);
						var jsrst=eval('_js();');
						console.log('................jsrst:'+jsrst);
						if(!jsrst){
							//console.log('................jsrst:返回 return');
							return;
						}
						//console.log('................jsrst:继续');
					}else{
					  jQuery.alert('操作成功！',function(){
						//$this.$router.go(-1);  
					  });					
					}
					//console.log('................准备返回上一步:$this.$router.go(-1);');
					$this.$router.go(-1);  
                } else{
				  jQuery.alert(data);
                }
            });
        },
		tmpStorage(){
			for(var i=0;i<this.fields.length;i++){
				if(this.fields[i].form_type=='开关按钮'){
					if($('#'+this.fields[i].field_code).prop('checked')){
						localStorage.setItem("_tmp_"+$this.code+'_'+this.fields[i].field_code+"_val",'1');
					}else{
						localStorage.setItem("_tmp_"+$this.code+'_'+this.fields[i].field_code+"_val",'0');
					}
				}else if($('#'+this.fields[i].field_code).val()!=''){
					localStorage.setItem("_tmp_"+$this.code+'_'+this.fields[i].field_code+"_val",$('#'+this.fields[i].field_code).val());
				}else{
					localStorage.removeItem("_tmp_"+$this.code+'_'+this.fields[i].field_code+"_val");
				}
			}
		},
		pmtStorage(){
			for(var i=0;i<this.fields.length;i++){
				if(this.fields[i].form_type=='文本框'){
					if(this.fields[i].view_list_module!=''){
						
					}
				}
			}
		}
    },
    created() {
        $this = this;
        $this.code = $this.$route.query.c;
        $this.id = $this.$route.query.id;
		///xapi/titlejson?code=ledgers
		axios.get('/xapi/titlejson?code='+$this.code+'&id=' + $this.$route.query.id)
            .then(function (response) {
                console.log(response);
                if (response.data != null){
					$this.title = response.data.title_edit;
				}
				if($this.id!=null && $this.id!='0' && $this.id!=''){
					//$this.title+='/编辑';
				}else{
					//$this.title+='/新建';
					$this.title = response.data.title_new;
				}
            })
            .catch(function (error) {
                console.log(error);
        });

        axios.get('/xapi/fieldjson?code='+$this.code+'&_openid={{._openid}}&id=' + $this.$route.query.id)
            .then(function (response) {
                console.log(response);
                if (response.data != null) $this.fields = response.data;
            })
            .catch(function (error) {
                console.log(error);
        });

        axios.get('/xapi/datajson?code='+$this.code+'&_openid={{._openid}}&id=' + $this.$route.query.id)
            .then(function (response) {
                console.log(response);
                if (response.data != null) $this.m = response.data;
            })
            .catch(function (error) {
                console.log(error);
        });
		//
		axios.get('/xapi/tbjson?code='+$this.code)
			.then(function (response) {
				if(response.data!=null && response.data!=""){
					$this.tbid=response.data.id;
					$this.is_create=response.data.is_create;
					$this.is_search=response.data.is_search;
					$this.is_edit=response.data.is_edit;
					$this.is_del=response.data.is_del;
				}
			});
    },
    mounted() {
        console.log('datainfo mounted');
		window.scroll(0,0);
    }
})

//数据列表
var _list_module=Vue.component('filed-list', {
        props: [],
        template:'\
		<div>\
			<div class="pro" style="z-index: 800000; width: 100%;">\
				<div class="fixDivtit">\
					<div class="tit_cls flexbtn">\
						<span><i  class="iconfont icon-left" style="display:none0;" @click="prev"></i><span v-text="title"></span></span>\
						<i class="iconfont icon-add" v-if="is_create==1" @click="add"><span style="font-size:14px;">新建</span></i>\
					</div>\
				</div>\
				<div class="search" v-if="is_search==1" style="margin-top: 1px;">\
                    <p>\
                        <input type="text" placeholder="请输入搜索关键词..." v-model="qtxt" >\
                        <span @click="search()">搜索</span>\
                    </p>\
                </div>\
			</div>\
			<div id="divlist" class="infinite">\
				<div class="weui-cells " style="margin-top:8px;background: #f6f6f6;">\
\
					<div v-for="row in list" :key="row.id" style="width:90%;margin:auto;border-radius:25px;margin-bottom: 20px;">\
						  <div class="weui-cell weui-cell_swiped"  style="height:50px;margin-top:5px;" >\
							<div class="weui-cell__bd"  style="height:50px;padding-top:5px;padding-left:3px;" @click="rowClick(code,row._optionid,row.id,row._title,row)">\
								<img class="pic_list" v-if="row._img" v-bind:src="row._img" style="margin-left:10px;float:left;width:40px;height:40px;">\
								<div style="float:left;margin-left:10px;">\
									<h4 class="weui-media-box__title">\
										<p v-text="row._title" class="weui_title_p" >-</p>\
									</h4>\
									<p class="weui-media-box__desc weui-media-box__desc_p"  v-text="row._desc" >--</p>\
								</div>\
								<div class="weui-cell__ft" style="margin-right:5px;height:50px;line-height:50px;">\
									<sup v-if="row._rss" v-text="row._rss" style="font-size:12px;"></sup>\
								<i class="iconfont icon-add"></i>\
								</div>\
							</div>\
							<div class="weui-cell__ft" >\
								<a class="weui-swiped-btn weui-swiped-btn_primary delete-swipeout" href="javascript:">编辑</a>\
								<a class="weui-swiped-btn weui-swiped-btn_warn delete-swipeout" href="javascript:">删除</a>\
								<a class="weui-swiped-btn weui-swiped-btn_default close-swipeout" href="javascript:$(\'.weui-cell_swiped\').swipeout(\'close\');">关闭</a>\
							</div>\
						  </div>\
						  \
						   <div class="weui-cell"  style="height:50px;padding: 0px 0px;"  v-for="row in sublist(0)" :key="row.id">\
									<div class="weui-cell__bd"  style="height:50px;padding-top:5px;padding-left:3px;background-color: #fff;">\
									<img class="pic_list" v-if="row._img" v-bind:src="row._img" style="margin-left:10px;float:left;width:40px;height:40px;">\
									<div style="float:left;margin-left:5px;">\
										<h4 class="weui-media-box__title">\
											<p v-text="row._title" class="weui_title_p" >-</p>\
										</h4>\
										<p class="weui-media-box__desc weui-media-box__desc_p"  v-text="row._desc" >--</p>\
									</div>\
									<div class="weui-cell__ft" style="margin-right:5px;height:50px;line-height:50px;">\
										<sup v-if="row._rss" v-text="row._rss" style="font-size:12px;"></sup>\
									<i class="iconfont icon-right"></i>\
									</div>\
								</div>\
						   </div>\
						   \
					</div>\
\
				</div>\
				<div class="weui-loadmore">\
					<i class="weui-loading"></i>\
					<span class="weui-loadmore__tips">正在加载</span>\
				</div>\
			</div>\
		</div>\
		',
        data() {
			return {
				type:0,
				title:"数据管理",
				code:"",
				field:"",
				list: [],
				ids:"",
				list_sub:[],
				page: 1,
				pages: 1,
				is_create:0,
				is_del:0,
				is_edit:0,
				is_search:1,
				qtxt:"",
				imgSetInterval:null,
				tb:null
			}
		},
		watch:{
			list:function(){
				$this=this;
				clearInterval($this.imgSetInterval);
                this.$nextTick(function(){
                    this.imgSetInterval=setInterval(function () {
						$('.weui-cell_swiped').swipeout();
                        clearInterval($this.imgSetInterval)
                    },1000)
                })
			},
			'$route' (to, from) {
				this.$router.go(0);
			}
		},
		methods: {
				sublist(id){
					$this=this;
					var rst=[{'id':1,'title':'a'},
						{'id':2,'title':'b'},
						{'id':3,'title':'c'},
					];

					///_list?code=ledgers1&id=107
					
					/*rst=$.ajax({
						url : '/xapi/listjson?code=ledgers1&id='+ids,
						type : 'get',
						async: false,//使用同步的方式,true为异步方式
						data : {'id':107}
					}).responseText;//
					rst=eval('('+rst+')');
					console.log('.......data:'+JSON.stringify(rst));
					*/
					var slist=[];
					console.log('list_sub.length:'+$this.list_sub.length);
					for(var i=0;i<$this.list_sub.length;i++){
						console.log('bill_id:'+$this.list_sub[i]['bill_id']);
						if(id==$this.list_sub[i]['bill_id']){
							slist = slist.concat($this.list_sub[i]);
						}
					}
					//return rst;//.rows;
					return slist;
				},
				prev() {
					localStorage.removeItem('_'+$this.code+'_qtxt');
					this.$router.go(-1);
				},
				add() {
					this.$router.push({ path: '_info', query: { 'c':this.code,'id':0 }});
				},
				search(){
					var jlfield=$this.$route.query.jlfield;
					var jlval=$this.$route.query.jlval;
					var jlstr='';
					if(jlfield!=null && jlval!=null){
						jlstr='&jlfield='+jlfield+'&jlval='+jlval;
					}
					axios.get('/xapi/listjson?code='+$this.code+jlstr+'&qtxt='+$this.qtxt)
					.then(function (response) {
						console.log(response);
						if(response.data!=null && response.data!=""){
							$this.list=response.data.rows;
							$this.title=response.data.extra;
							$('.weui-loadmore').hide();
						}else{
							$('.weui-loadmore').html("没有更多数据...");
							$('.weui-loadmore').show();
						}
						$('.weui-cell_swiped').swipeout();
					})
					.catch(function (error) {
						console.log(error);
					});
				},
				rowClick(code,_optionid,id,val,row){
					$this=this;
					//console.log('list type:'+this.type);
					localStorage.setItem('_'+$this.code+'_qtxt',$this.qtxt);
					if($this.type==1){
						//jQuery.toast(id+val, "text");
						if($this.field !=''){
							localStorage.setItem("_tmp_"+$this.code+'_'+$this.field+"_id",_optionid);
							localStorage.setItem("_tmp_"+$this.code+'_'+$this.field+"_title",val);
						}
						$this.$router.go(-1);

					}else{
						if($this.tb!=null && $this.tb.list_link!=null && $this.tb.list_link!=''){
							var url=$this.tb.list_link;
							var prarams='id='+id;
							Object.getOwnPropertyNames($this.$route.query).forEach(function(key){
								if(key!='code'){
									prarams+='&'+key+'='+$this.$route.query[key]
								}
							});
							console.log('url1:'+url);
							if(url.indexOf('?')>0){
								url+='&'+prarams
							}else{
								url+='?'+prarams
							}
							//
							console.log('url2:'+url);
							url=template.render(url,{row:row});
							console.log('url3:'+url);
							if(url.indexOf('http')==0){
								window.location=url;
							}else{
								$this.$router.push(url);								
							}
						}else{
							$this.$router.push({ path: '_info', query: { 'c':code,'id':id }});							
						}
					}
				}
		},
		created() {
			$this = this;
			//console.log('query:'+JSON.stringify($this.$route.query));
			$this.code=$this.$route.query.code;
			$this.type=$this.$route.query.type;
			$this.field=$this.$route.query.field;
			$this.title=$this.$route.query.title;
			if($this.title=="" || $this.title==undefined){
				$this.title="数据管理";
			}
			if(localStorage.getItem('_'+$this.code+'_qtxt')!=null){
				$this.qtxt=localStorage.getItem('_'+$this.code+'_qtxt');
			}

			var jlfield=$this.$route.query.jlfield;
			var jlval=$this.$route.query.jlval;
			var jlstr='';
			if(jlfield!=null && jlval!=null){
				jlstr='&jlfield='+jlfield+'&jlval='+jlval;
			}
			axios.get('/xapi/listjson?code='+$this.code+jlstr+'&qtxt='+$this.qtxt,{params:$this.$route.query})
			.then(function (response) {
				console.log(response);
				if(response.data!=null && response.data!=""){
					$this.list=response.data.rows;
					console.log('..........page:'+$this.page);
					if($this.page==1){
						$this.list_sub=[];
						ids="";
						if($this.list !=null){
							for(var i=0;i<$this.list.length;i++){
								if(i>0){
									ids+=",";
								}
								ids+=$this.list[i].id;
							}						
						}
						console.log('..........ids:'+ids);
						//获取数据
						if(ids!=''){
							rst=$.ajax({
								url : '/xapi/listjson?code=ledgers1&id='+ids,
								type : 'get',
								async: false,
								data : {'id':107}
							}).responseText;//
							rst=eval('('+rst+')');
							$this.list_sub=rst.rows;
							console.log('list_sub:'+JSON.stringify($this.list_sub));
						}
					}
					$this.title=response.data.extra;
					$('.weui-loadmore').hide();
					$('.weui-cell_swiped').swipeout();
				}else{
					$('.weui-loadmore').html("没有更多数据...");
					$('.weui-loadmore').show(); 
				}
				$('.weui-cell_swiped').swipeout();
				console.log('create get data...');
			})
			.catch(function (error) {
				console.log(error);
			});

			if($this.type!=1){
				//console.log('list type 不为1 .......');
				for(var i=localStorage.length - 1 ; i >=0; i--){
					//console.log('第'+ (i+1) +'条数据的键值为：' + localStorage.key(i).substr(0,5) +'，数据为：' + localStorage.getItem(localStorage.key(i)));
					if(localStorage.key(i).substr(0,5)=='_tmp_'){
						//console.log('删除 .......'+i);
						localStorage.removeItem(localStorage.key(i));
					}
				}
			}

			axios.get('/xapi/tbjson?code='+$this.code)
			.then(function (response) {
				if(response.data!=null && response.data!=""){
					$this.tb=response.data;
					$this.is_create=response.data.is_create;
					$this.is_search=response.data.is_search;
					$this.is_edit=response.data.is_edit;
					$this.is_del=response.data.is_del;
					
					var height = document.body.clientHeight ;
					if($this.is_search==1){
						$('#divlist').css({"height":(height-92)+"px","overflow-y":"scroll"});				
					}else{
						$('#divlist').css({"height":(height-52)+"px","overflow-y":"scroll"})
					}
				}
			});
		},
		mounted() {
			$('.weui-cell_swiped').swipeout();
			//console.log('applist mounted');
			$this = this;
			var loading = false;
			var page = 1;
			var pages = 10;
			if(localStorage.getItem('_'+$this.code+'_qtxt')!=null){
				$this.qtxt=localStorage.getItem('_'+$this.code+'_qtxt');
			}
			$("#divlist").infinite().on("infinite", function () {
				if (loading) return;
				loading = true;
				if (page >= pages || pages ==undefined) {
					$('.weui-loadmore').html("没有更多数据...");
					$('.weui-loadmore').show();
					return;
				}
				page++;
				$(".weui-loadmore").show();
				console.log('page:' + page + '  pages:' + pages);

				axios.get("/xapi/listjson?code="+$this.code+"&page=" + page+'&qtxt='+$this.qtxt)
					.then(function (response) {
						console.log('--------------------------');
						console.log(response.data);
						if (response.data != null && response.data!="") {
							pages = response.data.pages;
							$this.list = $this.list.concat(response.data.rows);
							$(".weui-loadmore").hide();
						}else{
							$('.weui-loadmore').html("没有更多数据...");
							$('.weui-loadmore').show();
						}
						$('.weui-cell_swiped').swipeout();
					})
					.catch(function (error) {
						console.log(error);
					});
				setTimeout(function () {
					loading = false;
					console.log("setTimeout");
					$(".weui-loadmore").hide();
					$('.weui-cell_swiped').swipeout();
				}, 2000);
			});

			var height = document.body.clientHeight ;
			if($this.is_search==1){
				$('#divlist').css({"height":(height-92)+"px","overflow-y":"scroll"});				
			}else{
				$('#divlist').css({"height":(height-52)+"px","overflow-y":"scroll"})
			}
		}

    })
String.prototype.replaceAll=function(f,e){
    var reg=new RegExp(f,"g"); //创建正则RegExp对象   
    return this.replace(reg,e); 
}
//数据列表
var _list=Vue.component('filed-list', {
        props: [],
        template:'\
		<div>\
			<div class="pro" style="z-index: 800000; width: 100%;">\
				<div class="fixDivtit">\
					<div class="tit_cls flexbtn">\
						<span><i  class="iconfont icon-left" style="display:none0;" @click="prev"></i><span v-text="title"></span></span>\
						<i class="iconfont icon-add" v-if="is_create==1" @click="add"><span style="font-size:14px;">新建</span></i>\
					</div>\
				</div>\
				<div class="search" v-if="is_search==1" style="margin-top: 1px;">\
                    <p>\
                        <input type="text" placeholder="请输入搜索关键词..." v-model="qtxt" >\
                        <span @click="search()">搜索</span>\
                    </p>\
                </div>\
			</div>\
			<div id="divlist" class="infinite">\
				<div class="weui-cells " style="margin-top:8px;">\
						  <div class="weui-cell weui-cell_swiped"  style="height:50px;margin-top:5px;"  v-for="row in list" :key="row.id" >\
							<div class="weui-cell__bd"  style="height:50px;padding-top:5px;padding-left:3px;" @click="rowClick(code,row._optionid,row.id,row._title,row)">\
								<img class="pic_list" v-if="row._img" v-bind:src="row._img" style="margin-left:10px;float:left;width:40px;height:40px;">\
								<div style="float:left;margin-left:10px;">\
									<h4 class="weui-media-box__title" style="max-width: 250px;">\
										<p v-text="row._title" class="weui_title_p" >-</p>\
									</h4>\
									<p class="weui-media-box__desc weui-media-box__desc_p"  v-text="row._desc" >--</p>\
								</div>\
								<div class="weui-cell__ft" style="margin-right:5px;height:50px;line-height:50px;">\
									<sup v-if="row._rss" v-text="row._rss" style="font-size:12px;"></sup>\
								<i class="iconfont icon-right"></i>\
								</div>\
							</div>\
							<div class="weui-cell__ft" >\
								<a class="weui-swiped-btn weui-swiped-btn_primary delete-swipeout" href="javascript:">编辑</a>\
								<a class="weui-swiped-btn weui-swiped-btn_warn delete-swipeout" href="javascript:">删除</a>\
								<a class="weui-swiped-btn weui-swiped-btn_default close-swipeout" href="javascript:$(\'.weui-cell_swiped\').swipeout(\'close\');">关闭</a>\
							</div>\
						  </div>\
\
				</div>\
				<div class="weui-loadmore">\
					<i class="weui-loading"></i>\
					<span class="weui-loadmore__tips">正在加载</span>\
				</div>\
			</div>\
		</div>\
		',
        data() {
			return {
				type:0,
				title:"数据管理",
				code:"",
				field:"",
				list: [],
				page: 1,
				pages: 1,
				is_create:0,
				is_del:0,
				is_edit:0,
				is_search:1,
				qtxt:"",
				imgSetInterval:null,
				tb:null
			}
		},
		watch:{
			list:function(){
				$this=this;
				clearInterval($this.imgSetInterval);
                this.$nextTick(function(){
                    this.imgSetInterval=setInterval(function () {
						$('.weui-cell_swiped').swipeout();
                        clearInterval($this.imgSetInterval)
                    },1000)
                })
			},
			'$route' (to, from) {
				this.$router.go(0);
			}
		},
		methods: {
				prev() {
					localStorage.removeItem('_'+$this.code+'_qtxt');
					this.$router.go(-1);
				},
				add() {
					this.$router.push({ path: '_info', query: { 'c':this.code,'id':0 }});
				},
				search(){
					var jlfield=$this.$route.query.jlfield;
					var jlval=$this.$route.query.jlval;
					var jlstr='';
					if(jlfield!=null && jlval!=null){
						jlstr='&jlfield='+jlfield+'&jlval='+jlval;
					}
					axios.get('/xapi/listjson?code='+$this.code+jlstr+'&qtxt='+$this.qtxt)
					.then(function (response) {
						console.log(response);
						if(response.data!=null && response.data!=""){
							$this.list=response.data.rows;
							$this.title=response.data.extra;
							$('.weui-loadmore').hide();
						}else{
							$('.weui-loadmore').html("没有更多数据...");
							$('.weui-loadmore').show();
						}
						$('.weui-cell_swiped').swipeout();
					})
					.catch(function (error) {
						console.log(error);
					});
				},
				rowClick(code,_optionid,id,val,row){
					$this=this;
					//console.log('list type:'+this.type);
					localStorage.setItem('_'+$this.code+'_qtxt',$this.qtxt);
					if($this.type==1){
						//jQuery.toast(id+val, "text");
						if($this.field !=''){
							localStorage.setItem("_tmp_"+$this.code+'_'+$this.field+"_id",_optionid);
							localStorage.setItem("_tmp_"+$this.code+'_'+$this.field+"_title",val);
						}
						$this.$router.go(-1);

					}else{
						if($this.tb!=null && $this.tb.list_link!=null && $this.tb.list_link!=''){
							var url=unescape($this.tb.list_link).replaceAll('&lt;','<');
							var prarams='id='+id;
							Object.getOwnPropertyNames($this.$route.query).forEach(function(key){
								if(key!='code'){
									prarams+='&'+key+'='+$this.$route.query[key]
								}
							});
							if(url.indexOf('?')>0){
								url+='&'+prarams
							}else{
								url+='?'+prarams
							}
							console.log('url2:'+url);
							url=template.render(url,{row:row});
							console.log('url3:'+url);
							if(url.indexOf('http')==0){
								window.location=url;
							}else{
								$this.$router.push(url);								
							}
						}else{
							$this.$router.push({ path: '_info', query: { 'c':code,'id':id }});							
						}
					}
				}
		},
		created() {
			$this = this;
			//console.log('query:'+JSON.stringify($this.$route.query));
			$this.code=$this.$route.query.code;
			$this.type=$this.$route.query.type;
			$this.field=$this.$route.query.field;
			$this.title=$this.$route.query.title;
			if($this.title=="" || $this.title==undefined){
				$this.title="数据管理";
			}
			if(localStorage.getItem('_'+$this.code+'_qtxt')!=null){
				$this.qtxt=localStorage.getItem('_'+$this.code+'_qtxt');
			}

			var jlfield=$this.$route.query.jlfield;
			var jlval=$this.$route.query.jlval;
			var jlstr='';
			if(jlfield!=null && jlval!=null){
				jlstr='&jlfield='+jlfield+'&jlval='+jlval;
			}
			axios.get('/xapi/listjson?code='+$this.code+jlstr+'&qtxt='+$this.qtxt,{params:$this.$route.query})
			.then(function (response) {
				console.log(response);
				if(response.data!=null && response.data!=""){
					$this.list=response.data.rows;
					$this.title=response.data.extra;
					$('.weui-loadmore').hide();
					$('.weui-cell_swiped').swipeout();
				}else{
					$('.weui-loadmore').html("没有更多数据...");
					$('.weui-loadmore').show(); 
				}
				$('.weui-cell_swiped').swipeout();
				console.log('create get data...');
			})
			.catch(function (error) {
				console.log(error);
			});

			if($this.type!=1){
				//console.log('list type 不为1 .......');
				for(var i=localStorage.length - 1 ; i >=0; i--){
					//console.log('第'+ (i+1) +'条数据的键值为：' + localStorage.key(i).substr(0,5) +'，数据为：' + localStorage.getItem(localStorage.key(i)));
					if(localStorage.key(i).substr(0,5)=='_tmp_'){
						//console.log('删除 .......'+i);
						localStorage.removeItem(localStorage.key(i));
					}
				}
			}

			axios.get('/xapi/tbjson?code='+$this.code)
			.then(function (response) {
				if(response.data!=null && response.data!=""){
					$this.tb=response.data;
					$this.is_create=response.data.is_create;
					$this.is_search=response.data.is_search;
					$this.is_edit=response.data.is_edit;
					$this.is_del=response.data.is_del;
					
					var height = document.body.clientHeight ;
					if($this.is_search==1){
						$('#divlist').css({"height":(height-92)+"px","overflow-y":"scroll"});				
					}else{
						$('#divlist').css({"height":(height-52)+"px","overflow-y":"scroll"})
					}
				}
			});
		},
		mounted() {
			$('.weui-cell_swiped').swipeout();
			//console.log('applist mounted');
			$this = this;
			var loading = false;
			var page = 1;
			var pages = 10;
			if(localStorage.getItem('_'+$this.code+'_qtxt')!=null){
				$this.qtxt=localStorage.getItem('_'+$this.code+'_qtxt');
			}
			$("#divlist").infinite().on("infinite", function () {
				if (loading) return;
				loading = true;
				if (page >= pages || pages ==undefined) {
					$('.weui-loadmore').html("没有更多数据...");
					$('.weui-loadmore').show();
					return;
				}
				page++;
				$(".weui-loadmore").show();
				console.log('page:' + page + '  pages:' + pages);

				axios.get("/xapi/listjson?code="+$this.code+"&page=" + page+'&qtxt='+$this.qtxt)
					.then(function (response) {
						console.log('--------------------------');
						console.log(response.data);
						if (response.data != null && response.data!="") {
							pages = response.data.pages;
							$this.list = $this.list.concat(response.data.rows);
							$(".weui-loadmore").hide();
						}else{
							$('.weui-loadmore').html("没有更多数据...");
							$('.weui-loadmore').show();
						}
						$('.weui-cell_swiped').swipeout();
					})
					.catch(function (error) {
						console.log(error);
					});
				setTimeout(function () {
					loading = false;
					console.log("setTimeout");
					$(".weui-loadmore").hide();
					$('.weui-cell_swiped').swipeout();
				}, 2000);
			});

			var height = document.body.clientHeight ;
			if($this.is_search==1){
				$('#divlist').css({"height":(height-92)+"px","overflow-y":"scroll"});				
			}else{
				$('#divlist').css({"height":(height-52)+"px","overflow-y":"scroll"})
			}
		}

    })

//标签框
Vue.component('field-label', {
        props: ['id', 'name','title','value'],
        template: '\
		<div class="weui-cell">\
			<div  class="weui-cell__hd" style="width:120px;">\
			 <p v-text="title"></p>\
			</div> \
			<div  class="weui-cell__ft">\
			 <div v-text="value" class="weui-input"></div>\
			 <input v-bind:id="id" style="text-align: right;" v-bind:name="name" type="hidden" v-bind:value="value"  class="weui-input" />\
			</div>\
		</div>\
		',
        data() {
            return {
                
            }
        }
    })
//文本框
Vue.component('field-input', {
        props: ['code','id', 'name','title','value','defval','required'],
        template: '\
		<div class="weui-cell">\
			<div  class="weui-cell__hd" style="width:120px;">\
			 <span v-text="title"></span><span v-if="required==1" style="color:red">*</span>\
			</div> \
			<div  class="weui-cell__bd">\
			 <input v-bind:id="id" style="text-align: left;color:gray;" v-bind:name="name" type="text" v-bind:value="value_c"  class="weui-input" />\
			</div>\
		</div>\
		',
        data() {
            return {
                value_c:this.value
			}
        },
		created(){
			if(localStorage.getItem("_tmp_"+$this.code+'_'+this.name+"_val")!=null){
				this.value_c=localStorage.getItem("_tmp_"+$this.code+'_'+this.name+"_val");
				console.log('文本框'+"_tmp_"+$this.code+'_'+this.name+"_val="+this.value);
			}
			if(this.value=='CURRENT_TIME'){
				var date = new Date();
				this.value = date.getFullYear()+'-'+(date.getMonth()+1)+'-'+date.getDate()+' '+date.getHours()+':'+date.getMinutes()+':'+date.getSeconds();
			}
			if(this.value=='CURRENT_DATE'){
				var date = new Date();
				this.value = date.getFullYear()+'-'+(date.getMonth()+1)+'-'+date.getDate();
			}			
		},
		mounted() {

		}
    })
	//error
var _error=Vue.component('app-notfound', {
        props: ['id','name', 'title', 'value'],
        template: '\
		<div class="weui-msg">\
		  <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>\
		  <div class="weui-msg__text-area">\
			<h2 class="weui-msg__title">页面未找到</h2>\
			<p class="weui-msg__desc">页面未找到,请检查连接是否正确...</p>\
		  </div>\
		</div>\
		',
        data() {
            return {
            }
        }
    })
    //详情框
Vue.component('field-detail', {
        props: ['name', 'placename', 'values'],
        template: '<div  class="weui-cell"><div class="weui-cell__hd" style="width:120px;"><label  class="weui-label" v-text="placename"></label></div> <div  class="weui-cell__bd"><span v-text="values"></span></div></div>',
        data() {
            return {
                //val:''
            }
        },
		mounted() {
			if(localStorage.getItem("_tmp_"+$this.code+'_'+this.name+"_val")!=null){
				this.value=localStorage.getItem("_tmp_"+$this.code+'_'+this.name+"_val");
			}
		}
    })
	//开关按钮
Vue.component('field-switch', {
        props: ['id','name', 'title', 'value','defval','required'],
        template: '\
		<div class="weui-cells " style="margin-top:0px;">\
			<div class="weui-cell weui-cell_switch">\
				<div class="weui-cell__hd" v-text="title" style="padding: 5px 0px;width:120px;"></div>\
				<div class="weui-cell__ft">\
					<input type="checkbox" v-bind:id="id" v-bind:name="name" :checked="value==\'1\'" class="weui-switch">\
				</div>\
			</div>\
		</div>\
		',
        data() {
            return {
                //val:''
            }
        },
		mounted() {
			var v=localStorage.getItem("_tmp_"+$this.code+'_'+this.name+"_val");
			if(v!=null){
				if(v=='on') v='1';
				console.log('开关按钮值:',v);
				this.value=v;
			}
		}
    })
	//编辑框
Vue.component('field-editor', {
        props: ['id','name', 'title', 'value'],
        template: '\
		<div class="weui-cells weui-cells_form">\
			<div class="weui-cells__title" v-text="title" style="margin-top:5px;font-size:16px;color:#000;"></div>\
			<div class="weui-cells weui-cells_form">\
				<div class="weui-cell">\
					<div class="weui-cell__bd">\
						<textarea style="font-size: 16px;" class="weui-textarea" :id="id" :name="name" placeholder="请输入文本" rows="3" v-text="value"></textarea>\
						<div class="weui-textarea-counter"><span>0</span>/200</div>\
					</div>\
				</div>\
			</div>\
		</div>\
		',
        data() {
            return {
                //val:''
            }
        },
		mounted() {
			if(localStorage.getItem("_tmp_"+$this.code+'_'+this.name+"_val")!=null){
				this.value=localStorage.getItem("_tmp_"+$this.code+'_'+this.name+"_val");
			}
		}
    })

    //下拉框
Vue.component('field-select', {
    props: ['code','id','name','title','value','module','fieldid','islink','required','is_editable'],
    template: '\
                <div class="weui-cell">\
                    <div class="weui-cell__hd" style="width:120px;"><span :for="id" class="weui-label0" v-text="title"></span><span v-if="required==1" style="color:red">*</span>\</div>\
                    <div class="weui-cell__bd">\
						 <input v-bind:id="id" style="text-align: left;margin-right:5px;color:gray;" v-show="is_editable==1" v-if="islink==1" v-bind:name="name" type="text" v-bind:value="value"  class="weui-input" />\
						<div v-text="item_text" v-if="islink==1" v-show="is_editable!=1" style="display:none;text-align: left;width:100%;height:25px;color:gray;" class="weui-cell_access" @click="selectnav(id);return false;">&nbsp;&nbsp;</div>\
                        <select class="weui-select" v-else v-bind:id="id" v-bind:name="name" type="text" style="direction: ltr;color:gray;padding-left:0px;">\
                             <option v-for="item in items" :value="item.id" :selected="value==item.id" v-text="item.val">\
                        </option>\
                        </select>\
                    </div>\
					<div class="weui-cell__ft" v-if="islink==1" @click="selectnav(id);return false;">\
					  <i class="iconfont icon-down"></i>\
					</div>\
                </div>\
            ',
    data() {
        return {
            items: [],
			item_text:""
        }
    },
	methods:{
		selectnav(v){
			//jQuery.toast(this.id+','+this.name+','+this.title+','+this.fieldid);
			console.log('........fields:'+this.$parent.fields.length);
			var fs=this.$parent.fields;
			var jlfield='';
			for(var i=0;i<fs.length;i++){
				if(fs[i].form_cascade==this.name){
					//console.log('...............找到级联字段:'+fs[i].field_code);
					
					jlfield='&jlfield='+fs[i].field_code+'&jlval='+$('#'+fs[i].field_code).val();

					break;
				}
			}
			this.$parent.tmpStorage();
			this.$router.push({'path':'/_list?code='+this.module+'&type=1&field='+this.id+jlfield});
			//this.$emit('test'); //成功 父组件 @test="test"
			
		}
	},
	created(){
		console.log('module:'+this.module+' islink:'+this.islink);
	},
    mounted() {
		var $this = this;
		if(localStorage.getItem("_tmp_"+$this.code+'_'+this.name+"_val")!=null && localStorage.getItem("_tmp_"+$this.code+'_'+this.name+"_val")!=undefined){
				this.value=localStorage.getItem("_tmp_"+$this.code+'_'+this.name+"_val");
				console.log('初始化1:'+"_tmp_"+$this.code+'_'+this.name+"_val="+this.value);
		}
		if(localStorage.getItem("_tmp_"+$this.module+'_'+this.name+"_val")!=null && localStorage.getItem("_tmp_"+$this.module+'_'+this.name+"_val")!=undefined){
				this.value=localStorage.getItem("_tmp_"+$this.module+'_'+this.name+"_val");
				console.log('初始化2:'+"_tmp_"+$this.module+'_'+this.name+"_val="+this.value);
		}

        
        axios.get('/xapi/itemjson?id=' + $this.fieldid+'{{._paramstr}}')
            .then(function (response) {
                //var res = JSON.stringify(response);
                var data = response.data;
                $this.items = data;
				console.log('--------------------------------------------------------------------------');
				console.log('code:'+$this.code);
				console.log('module:'+$this.module);
				console.log('name:'+$this.name);

				var local_id='';
				var local_name='';
				if($this.module==''){
					local_id=localStorage.getItem("_tmp_"+$this.code+"_"+$this.name+'_val');
				}else{
					local_id=localStorage.getItem("_tmp_"+$this.module+"_"+$this.name+'_id');
					if(local_id==null || local_id==''){
						local_id=localStorage.getItem("_tmp_"+$this.code+"_"+$this.name+'_val');
						local_name=local_id;
					}else{
						local_name=localStorage.getItem("_tmp_"+$this.module+"_"+$this.name+'_title');
						if(local_name==null || local_name==''){
							local_name=local_id;
						}
					}
					
				}
				console.log('local_id:'+local_id);
				if(local_id!="" && local_id!=null){
					if($this.items.length<1){
						$this.item_text=local_name;
						$this.value=local_id; 
					}
					for(var i=0;i<$this.items.length;i++){
						if($this.items[i].id+''==local_id+''){
							$this.item_text=$this.items[i].val;//+'|'+$this.items[i].id;
							$this.value=$this.items[i].id; 
						}
					}
				}else{
					console.log('$this.value:'+$this.value);
					for(var i=0;i<$this.items.length;i++){
						if($this.items[i].id==$this.value){
							$this.item_text=$this.items[i].val;//+'|'+$this.items[i].id;
							$this.value=$this.items[i].id; 
						}
					}
				}
				if($this.item_text==""){
					$this.item_text="请选择...";
				}

            })
            .catch(function (error) {
                console.log(error);
            });
    }
})

//日期
Vue.component('field-date', {
    props: ['id','name', 'title', 'value'],
    template:'\
            <div class="weui-cells weui-cells_form" style="margin-top: 0px;">\
                <div class="weui-cell">\
                    <div class="weui-cell__hd"  style="width:120px;"><label :for="name" class="weui-label" v-text="title"></label></div>\
                    <div class="weui-cell__bd">\
                        <input style="text-align: left;direction: ltr;" class="weui-input" :id="name" :name="name" type="date" :value="getFDate()" />\
                    </div>\
                </div>\
            </div>',
    data() {
        return {
			datestr:''
        }
    },
    methods: {
        getFDate() {
                var $this = this;
				console.log('日期值:'+$this.datestr);
				if($this.datestr=='CURRENT_TIME'){
					var ddate = new Date();
					var m=(ddate.getMonth()+1)+'';
					if(m.length=1)m='0'+m;
					$this.datestr = ddate.getFullYear()+'-'+(ddate.getMonth()+1)+'-'+ddate.getDate()+' '+ddate.getHours()+':'+ddate.getMinutes()+':'+ddate.getSeconds();
				}
				if($this.datestr=='CURRENT_DATE'){
					var ddate = new Date();
					var m=(ddate.getMonth()+1)+'';
					if(m.length==1)m='0'+m;
					var d=ddate.getDate()+'';
					if(d.length==1) d='0'+d;
					$this.datestr = ddate.getFullYear()+'-'+m+'-'+d;
				}	
                return $this.datestr;
            }
    },
	created(){
		this.datestr=this.value;
	},
		mounted() {
			if(localStorage.getItem("_tmp_"+$this.code+'_'+this.name+"_val")!=null){
				this.value=localStorage.getItem("_tmp_"+$this.code+'_'+this.name+"_val");
			}
		}
})

//单选框
Vue.component('field-radio', {
    props: ['id','name', 'title', 'value','fieldid'],
    template: '\
                <div class="weui-cells weui-cells_form">\
                <div class="weui-cells__title" v-text="title" style="margin-top:5px;font-size:16px;color:#000;"></div>\
                <div class="weui-cells weui-cells_checkbox">\
                    <label class="weui-cell weui-check__label" v-bind:for="name+index" v-for="checks,index in  items">\
                        <div class="weui-cell__hd">\
                            <input type="radio" class="weui-check" v-bind:value="checks.id" v-bind:name="name" v-bind:id="name+index" :checked="value==checks.id" />\
                            <i class="weui-icon-checked"></i>\
                        </div>\
                        <div class="weui-cell__bd">\
                            <p v-text="checks.val"></p>\
                        </div>\
                    </label>\
                </div>\
            </div>',
    data() {
        return {
			items: [],
            radio: {
                title: "-",
                names: this.name,
                items: [ ]
            }
        }
    },
    mounted() {
        var that = this;
        axios.get('/xapi/itemjson?id=' + that.fieldid)
            .then(function (response) {
                var data = response.data;
                that.items = data;
            })
            .catch(function (error) {
                console.log(error);
         });
		if(localStorage.getItem("_tmp_"+$this.code+'_'+this.name+"_val")!=null){
			this.value=localStorage.getItem("_tmp_"+$this.code+'_'+this.name+"_val");
		}
    }
})


//复选框
Vue.component('field-checkbox', {
    props: ['id','name', 'title', 'value','fieldid'],
    template: '\
                   <div class="weui-cells weui-cells_form">\
         <div class="weui-cells__title" v-text="title" style="margin-top:5px;font-size:16px;color:#000;"></div>\
         <div class="weui-cells weui-cells_checkbox">\
             <label class="weui-cell weui-check__label" v-bind:for="names+index" v-for="checks,index in  items">\
                 <div class="weui-cell__hd">\
                     <input type="checkbox" class="weui-check" v-model="val"  v-bind:value="checks.id" v-bind:name="name" v-bind:id="name+index" />\
                     <i class="weui-icon-checked"></i>\
                 </div>\
                 <div class="weui-cell__bd">\
                     <p v-text="checks.val"></p>\
                 </div>\
             </label>\
         </div>\
     </div> ',
    data() {
        return {
			items: [],
            checkbox: {
                title: "-",
                names: "check1",
                items: []
            },
			val:this.value.split(',')
        }
    },
    mounted() {
        var that = this;
        that.names = that.name;
        axios.get('/xapi/itemjson?id=' + that.fieldid)
            .then(function (response) {
                var data = response.data;
                that.items = data;
            })
            .catch(function (error) {
                console.log(error);
        });
		if(localStorage.getItem("_tmp_"+$this.code+'_'+this.name+"_val")!=null){
			this.value=localStorage.getItem("_tmp_"+$this.code+'_'+this.name+"_val");
		}
    }
})

//图片上传
Vue.component('field-pic', {
    props: ['code','id','name', 'title', 'value'],
    template: '\
                  <div>\
                          <div class="weui-cells" style="margin-top: 0;">\
                               <a class="weui-cell weui-cell_access0" :id="\'flieDiv\'+name" >\
                                <div class="weui-cell__hd" style="width:120px;"><p v-text="title"></p></div>\
								<div class="weui-cell__bd">\
                                <input type="file" :id="\'file\'+name" accept="image/*" style=" position: absolute; opacity: 0;top: 0;width: 100px;height: 100%;z-index: 10;"/>\
                                   <img v-bind:src="src" :id="\'img\'+name" style="height:75px;z-index: 10000000;"/>\
                                   <input type="hidden" :id="name" :name="name" :value="src"/>\
								</div>\
                                 <div class="weui-cell__ft" style="display:none;">\
                                   <i class="iconfont icon-gengduo"></i>\
                                 </div>\
                               </a>\
                             </div>\
                          <div class="photoDIV" v-show="showphoto1!=0">\
                             <div :id="\'clipArea\'+name" style="width: 100%;height: 100%;"></div>\
                             <a href="javascript:;" :id="\'clipBtn\'+name" class="weui-btn" style="position: fixed;top: 80px;right:10px;line-height:30px;z-index: 1000;background-color: #1aad19;">使用</a>\
                             <a href="javascript:;" class="weui-btn weui-btn_default quxiao" @click="quxiao" style="position: fixed;top: 80px;line-height:30px;z-index: 1000;">取消</a>\
                           </div>\
                 </div>',
    data() {
        return {
            showphoto1: '',
            val: '',
            Headimgurl: '',
            src:'/images/plus.png',

            picphoto: '', //未剪切前图片

        }
    },
    methods: {

        quxiao() {
            this.showphoto1 = 0;
            this.picphoto = '';
        },
		showimg(pic){
			this.src=pic;
		}
    },
	created(){
		this.src=this.value;
		if(this.src==null || this.src==''){
			this.src='/images/plus.png';
		}
		console.log('----------------field-pic created..this.src.['+this.src+']');
	},
    mounted() {
        var $this = this;
		//console.log('........picAAAAAA:'+$this.value);
		if(localStorage.getItem("_tmp_"+$this.code+'_'+this.name+"_val")!=null){

			//console.log('........pic:'+$this.value);
			$this.src=localStorage.getItem("_tmp_"+$this.code+'_'+this.name+"_val");
		}
		if(this.src==null || this.src==''){
			this.src='/images/plus.png';
		}
		var ppic=$('#img'+$this.name);
		console.log('field-pic value...'+$this.src);
        var clipArea = new PhotoClip("#clipArea" + $this.name, {
            size: [320, 320], //裁剪框大小
            outputSize: [0, 0], //打开图片大小，[0,0]表示原图大小
            // img: $this.picphoto,
            file: "#file" + $this.name,
            view: "#view", //裁剪预览图片id（需要的自行添加）
            ok: "#clipBtn" + $this.name,
            loadStart: function () { //图片开始加载的回调函数。this 指向当前 PhotoClip 的实例对象，并将正在加载的 file 对象作为参数传入。（如果是使用非 file 的方式加载图片，则该参数为图片的 url）
                    $this.showphoto1 = 1;
                    console.log('开始读取照片');
                },
                loadComplete: function () { //图片加载完成的回调函数。this 指向当前 PhotoClip 的实例对象，并将图片的 <img> 对象作为参数传入。
                    console.log('照片读取完成');
                },
                done: function (dataURL) { //裁剪完成的回调函数。this 指向当前 PhotoClip 的实例对象，会将裁剪出的图像数据DataURL作为参数传入。      
                    //console.log(dataURL); //dataURL裁剪后图片地址base64格式提交给后台处理
                    axios({
                            method: 'POST',
                            url: '/xapi/upbase64',
                            data: {
                                b: dataURL
                            },
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded' //请求头
                            },
                            transformRequest: [
                                function (data) {
                                    data = Qs.stringify(data) //序列化参数
                                    return data
                                }
                            ]
                        })
                        .then(function (response) {
                            $this.src = response.data;
							$this.value=response.data;
                            $this.showphoto1 = 0;
                        })
                        .catch(function (error) {
                            console.log(error)
                        })

                }
        });
		console.log('........pic.value:'+$this.value);
		if($this.src==undefined || $this.src==''){
			$this.src='/images/plus.png';
		}
    }
})

//图片上传
Vue.component('field_imgupload', {
	created(){
		console.log("field_imgupload created....");
	},
    mounted() {
            console.log("field_imgupload mounted....");
            var tmpl = "<li class=\'\ weui-uploader__file \'\ style=\'\ background-image:url(#url#) \'\></li>",
                $gallery = $("#gallery"),
                $galleryImg = $("#galleryImg"),
                $uploaderInput = $("#uploaderInput"),
                $uploaderFiles = $("#uploaderFiles");

            $uploaderInput.on("change", function (e) {
                var src, url = window.URL || window.webkitURL || window.mozURL,
                    files = e.target.files;
                for (var i = 0, len = files.length; i < len; ++i) {
                    var file = files[i];

                    if (url) {
                        src = url.createObjectURL(file);
                    } else {
                        src = e.target.result;
                    }

                    $uploaderFiles.append($(tmpl.replace('#url#', src)));
                }
            });
            var index; //第几张图片
            $uploaderFiles.on("click", "li", function () {
                index = $(this).index();
                $galleryImg.attr("style", this.getAttribute("style"));
                $gallery.fadeIn(100);
            });
            $gallery.on("click", function () {
                $gallery.fadeOut(100);
            });
            //删除图片
            $(".weui-gallery__del").click(function () {
                $uploaderFiles.find("li").eq(index).remove();
            });
        },
        data() {
            return {
				id:0,
				name:"",
				title:"",
				value:""
            }
        },
        template: ' \
		<div>\
			<div class="weui-gallery" id="gallery"> <span class="weui-gallery__img" id="galleryImg"></span> \
				<div class="weui-gallery__opr">\
					<a href="javascript:" class="weui-gallery__del"> <i class="weui-icon-delete weui-icon_gallery-delete"></i> \
					</a>\
				</div>\
			</div>\
			<div class="weui-cells weui-cells_form" style="margin-top: 5px;">\
				<div class="weui-cell">\
					<div class="weui-cell__bd">\
						<div class="weui-uploader">\
							<div class="weui-uploader__hd">\
								<p class="weui-uploader__title">图片上传</p>\
							</div>\
							<div class="weui-uploader__bd">\
								<ul class="weui-uploader__files" id="uploaderFiles"></ul>\
								<div class="weui-uploader__input-box">\
									<input id="uploaderInput" class="weui-uploader__input zjxfjs_file" type="file" accept="image/*" multiple="">\
								</div>\
							</div>\
						</div>\
					</div>\
				</div>\
			</div>\
		</div>\
		'
})

{{if eq .isnav "1"}}
var nav_menu = Vue.extend({
    template: '\
	<div class="flex fixnav">\
	<router-link v-bind:to="n.path" v-for="n,index in list" v-bind:key="index">\
		<i v-bind:class="n.icon" class=""></i><p v-text="n.text">-</p>\
	</router-link>\
    </div>	',
    data() {
        return {
			openid:'{{._openid}}',
            list: [
			{{range $i,$n :=.navmenu}}
			{
                "path": "{{$n.url}}",
                "icon": "{{$n.icon}}",
                "text": "{{$n.title}}"
            },
			{{end}}
			]
        }
    },
    created() {
        console.log('nav created');
    },
    mounted() {
        console.log('nav mounted');
    }
}) 
Vue.component('nav_menu', nav_menu);
{{end}}

</script>
<div id="app">

	<transition v-bind:name="transitionName">
 
        <router-view   class="child-view" exclude="detail" :key="$route.fullPath"></router-view>
 
    </transition>
	

</div>
</body>

<script>
var tpl="{{str2html .pagetpl}}";
eval(tpl);

var a="";
a+="var routes = [ ";
a+="	{{str2html .routes}}";
a+=",{path:'/_list',component:_list,meta:{index:9001,keepAlive: false}}";
a+=",{path:'/_info',name:'_info',component:_info,meta:{index:9002,keepAlive: true}}";
a+=",{path:'/_error',component:_error,meta:{index:9003,keepAlive: true}}";
a+="]";
eval(a);

const router = new VueRouter({
  routes // (缩写) 相当于 routes: routes
})

 router.beforeEach(async (to, from, next) =>  {
  if (to.matched.length === 0) { 
    from.name ? next({
      name: from.name
    }) : next('/_error'); 
  } else {
	  {{if eq  .login_on  "1"}}
	  if(to.path!='/login'){
	    var rst= await  axios.post('/xapi/islogin');
		if(rst.data.code != 100){
			next('/login');
		}else{
			//localStorage.setItem('_me',JSON.stringify(rst.data.result[0]));
			//console.log('-----------------'+JSON.stringify(rst.data.result[0]));
			next();
		}	  
	  }else{
		next();
	  }
	  {{else}}
		next();
	  {{end}}
  }
});

new Vue({
	router,
    el: '#app',
    data: {
		transitionName:"slide-right"
    },
    methods:{
		async func_islogin(){
			var rst= await  axios.post('/api/m/islogin')
			return rst;
		}
    },
	created(){
	},
	mounted(){ 
	},
	watch: {
     $route(to, from) {
      if(to.meta.index > from.meta.index){
        this.transitionName = 'slide-left';
		console.log('-----------------a');
      }else{
        this.transitionName = 'slide-right';
		console.log('-----------------b');
      }
     }
   }
})

</script>
<script src="/js/photoclip/hammer.min.js"></script>
<script src="/js/photoclip/iscroll-zoom-min.js"></script>
<script src="/js/photoclip/lrz.all.bundle.js"></script>
<script src="/js/photoclip/PhotoClip.js"></script>
<script src="/js/photoclip/qs.js"></script>
</html>