<!DOCTYPE html>
<html>
<head><meta charset="utf-8"> 
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>404没有找到相关信息</title>
<script src="https://cdn.bootcss.com/jquery/1.12.2/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery.form/3.24/jquery.form.min.js"></script>
<link href="/js/jqweui/lib/weui.min.css" rel="stylesheet"> 
</head>
<body>
    <div class="weui-msg">
      <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
      <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">没有找到相关信息</h2>
        <p class="weui-msg__desc"></p>
      </div>
      <div class="weui-msg__extra-area">
        <div class="weui-footer">
          <p class="weui-footer__links">
             
          </p>
          <p class="weui-footer__text">Copyright © 2008-2019 sjzapps.com</p>
        </div>
      </div>
    </div>
</body>
</html>